<div class="container comp-top-margin">
    <form [formGroup] = "offenseInfoForm" autocomplete="off">
        <mat-card class="mat-elevation-z2">
            <mat-card-title class="primary-background mat-elevation-z1" style="margin-top: -16px; margin-left: -16px; margin-right: -16px;">
                <div class="container" style="padding-top: 12px; padding-bottom: 12px;">
                    Offense
                </div>
            </mat-card-title>
            <br>
            <div>
                <div class="row pe-0 d-flex align-items-center">
                    <div class="row pe-0 col-lg-3 col-md-5 col-5">
                        <div class="d-none d-sm-block">
                            <h2>Base Attack Bonus</h2>
                        </div>
                        <div class="d-sm-none">
                            <h2>BAB</h2>
                        </div>
                    </div>
                    <div class="row pe-0 col-lg-9 col-md-7 col-7">
                        <div class="col-lg-2 col-md-6">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>BAB</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" >
                            </mat-form-field>
                        </div>
                    </div>
                </div>  
                <div class="row pe-0 d-flex align-items-center">
                    <div class="row pe-0 col-lg-3 col-md-5">
                        <div class="col-lg-6 col-6">
                            <h2>Initiative</h2>
                        </div>
                        <div class="col-lg-6 col-6 d-flex align-items-center justify-content-start">
                            <span class="badge badge-pill save-total">
                                +3
                            </span> 
                        </div>
                    </div>
                    <div class="row pe-0 col-lg-9 col-md-7">
                        <div class="col-lg-2 col-md-6 col-6">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Dex+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" >
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-6 col-6">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Misc+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" >
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row pe-0 d-flex align-items-center">
                    <div class="row pe-0 col-lg-3 col-md-5">
                        <div class="col-lg-6 col-md-6 col-6">
                            <h2>CMB</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-6 d-flex align-items-center">
                            <span class="badge badge-pill save-total">
                                +3
                            </span> 
                        </div>
                    </div> 
                    <div class="row pe-0 col-lg-9 col-md-7">
                        <div class="col-lg-2 col-md-6 col-6">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Base+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" >
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-6 col-6">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Str Mod+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" >
                            </mat-form-field>
                        </div>
                        <div class="d-xs-block d-none d-lg-block col-lg-2 col-6">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Size Mod+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" >
                            </mat-form-field>
                        </div>
                        <div class="d-xs-block d-none d-lg-block col-lg-2 col-6">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Misc Mod+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" >
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row pe-0 d-flex align-items-center d-lg-none">
                    <div class="row pe-0 col-lg-3 col-md-5">
                        <div class="col-md-12"></div>
                    </div> 
                    <div class="row pe-0 col-md-7">
                        <div class="col-md-6 col-6">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Size Mod+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" >
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-6">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Misc Mod+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" >
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card> 
    </form>
</div>
