<ng-template [ngIf]="layoutType === 'weapon'">
    <mat-card class="h-100 w-100">    
        <div class="row">
            <div class="col-6">
                <div class="row" >
                    <mat-form-field appearance="standard" color="accent" style="width: 100%;">
                        <mat-label>Weapon</mat-label>
                        <input matInput>
                        <mat-icon matSuffix color="warn">delete</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                    <mat-label>Attack Bonus</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                    <mat-label>Critical</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                    <mat-label>Type</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                    <mat-label>Range</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                    <mat-label>Ammunition</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                    <mat-label>Damage</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
    </mat-card>
</ng-template>

<ng-template [ngIf]="layoutType === 'addWeapon'">
    <div class="h-100 w-100 d-flex justify-content-center align-items-center">
        <button mat-fab color="accent"
            matTooltip="Add New Weapon"
            matTooltipPosition="above">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</ng-template>  
