@use 'sass:map';
@use '@angular/material' as mat;
@import '../theme.scss';

$color-config: mat.get-color-config($my-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .selected-tab{
    background-color: mat.get-color-from-palette($accent-palette);
}