<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav [mode]="'over'" position="end">
            <mat-nav-list>
                <a routerLink="/general" mat-list-item (click)="sidenav.toggle()">General</a>
                <a routerLink="/abilities" mat-list-item (click)="sidenav.toggle()">Abilities + Saving</a>
                <a routerLink="/offense" mat-list-item (click)="sidenav.toggle()">Offense</a>
                <a mat-list-item>Defense</a>
                <a mat-list-item>Skills</a>
                <a mat-list-item>Feats</a>
                <a mat-list-item>Equipment</a>
                <a mat-list-item>Spells</a>
                <a mat-list-item>Summary</a>
                <a mat-list-item>Roll</a>
                <a mat-list-item>Settings</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary" class="sticky-top">
                <mat-toolbar-row class="d-flex justify-content-between">
                        <div class="d-none d-lg-block d-flex justify-content-between">
                            <a routerLink="/general" mat-button>General</a>
                            <a routerLink="/abilities" mat-button>Abilities + Saving</a>
                            <a routerLink="/offense" mat-button>Offense</a>
                            <a mat-button>Defense</a>
                            <a mat-button>Skills</a>
                            <a mat-button>Feats</a>
                            <a mat-button>Equipment</a>
                            <a mat-button>Spells</a>
                            <a mat-button>Summary</a>
                            <a mat-button>Roll</a>
                        </div>
                        <div>
                            <button class="d-none d-lg-block" mat-icon-button>
                                <mat-icon>settings</mat-icon>
                            </button>
                        </div>
                        <div class="d-lg-none">
                            <button mat-icon-button (click)="sidenav.toggle()">
                                <mat-icon>menu</mat-icon>
                            </button>
                        </div> 
                </mat-toolbar-row>
            </mat-toolbar>        
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body>
</html>