<div class="w-100 h-100">
    <form [formGroup]="gearItemForm">
        <div class="row">
            <div class="col-1 pt-3">
                <mat-icon matSuffix color="warn" style="cursor: pointer;" (click)="deleteGearItem()">delete</mat-icon>
            </div>
            <div class="col-8">
                <mat-form-field color="accent" style="width: 100%;">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field color="accent" style="width: 100%;">
                    <mat-label>Weight</mat-label>
                    <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" placeholder="lbs"
                        formControlName="weight">
                </mat-form-field>
            </div>
            <div class="col-1" *ngIf="!gearItemForm.valid">
                <mat-icon color="warn">warning</mat-icon>
            </div>
        </div>
    </form>
</div>