<form autocomplete="off" [formGroup]="acItemForm">
    <div class="row">
        <div class="d-flex">
            <div>
                <mat-icon matSuffix color="warn" style="cursor: pointer;" (click)="deleteAcListItem()">delete</mat-icon>
            </div>
            <div *ngIf="!acItemForm.valid">
                <mat-icon color="warn">warning</mat-icon>
            </div>
            <div class="ms-auto">
                <mat-slide-toggle color="primary" formControlName="equipped">
                </mat-slide-toggle>
                <mat-label class="ms-2">
                    <ng-container *ngIf="this.acItemForm.controls['equipped'].value">
                        Equipped
                    </ng-container>
                    <ng-container *ngIf="!this.acItemForm.controls['equipped'].value">
                        Unequipped
                    </ng-container>
                </mat-label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12">
            <mat-form-field color="accent" style="width: 100%;">
                <input matInput placeholder="Item Name" formControlName="name">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                <mat-label>Properties</mat-label>
                <input matInput formControlName="properties">
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-6">
            <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let type of acTypes" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-3">
            <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                <mat-label>Spell Failure%</mat-label>
                <input matInput formControlName="spellFailure">
            </mat-form-field>
        </div>
        <div class="col-lg-2 col-3">
            <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                <mat-label>Bonus</mat-label>
                <input matInput inputmode="numeric" type="number" formControlName="bonus">
            </mat-form-field>
        </div>
        <div class="col-lg-2 col-3">
            <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                <mat-label>Penalty</mat-label>
                <input matInput inputmode="numeric" type="number" formControlName="checkPen">
            </mat-form-field>
        </div>
        <div class="col-lg-2 col-3">
            <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                <mat-label>Weight</mat-label>
                <input matInput inputmode="numeric" type="number" formControlName="weight">
            </mat-form-field>
        </div>
    </div>
</form>