<div class="container comp-top-margin">
    <ng-container *ngIf="characters$ | async as chars">
        <mat-card class="mat-elevation-z2">
            <mat-card-title class="primary-background rounded-top mat-elevation-z1"
                style="margin-top: -16px; margin-left: -16px; margin-right: -16px; padding-left: 12px;">
                <div class="row " style="padding-top: 12px; padding-bottom: 12px;">
                    <div class="col-7 col-lg-4">
                        Characters
                    </div>
                </div>
            </mat-card-title>
        </mat-card>
        <br>
        <mat-grid-list [cols]="1" [rowHeight]="'15em'" gutterSize="10px" class="justify-content-center">
            <ng-container *ngFor="let char of chars;  let i = index">
                <mat-grid-tile>
                    <mat-card class="h-100 w-100">
                        <app-character-list-item [character]="char"></app-character-list-item>
                    </mat-card>
                </mat-grid-tile>
            </ng-container>
            <mat-grid-tile>
                <mat-card class="h-100 w-100">
                    <div class="h-100 w-100 d-flex justify-content-center align-items-center">
                        <button mat-raised-button color="primary" (click)="addNewCharacter()">
                            <mat-icon>add</mat-icon>
                            Add Character
                        </button>
                    </div>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-container>
</div>