<div class="container comp-top-margin">
    <form [formGroup] = "abilitiesForm" autocomplete="off">
    <mat-card class="mat-elevation-z2">
        <mat-card-title class="primary-background mat-elevation-z1" style="margin-top: -16px; margin-left: -16px; margin-right: -16px;">
            <div class="container" style="padding-top: 12px; padding-bottom: 12px;">
                Abilities
            </div>
        </mat-card-title>
        <br>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="row d-flex align-items-center">
                        <div class="col-2">
                            <h2>Str</h2>
                        </div>
                        <div class="col-10" formGroupName="strForm">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Score</mat-label>
                                        <input id="strInput" matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="str" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                    
                                </div>  
                                <div class="col-2"> 
                                    <app-mod-display 
                                        [control]="'strForm.str'"
                                        [score]="abilitiesForm.get('strForm')?.get('str')?.value"
                                        [mod]="abilities.strMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>
                                </div> 
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Temp</mat-label>
                                        <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="strTempAdj" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                </div>  
                                <div class="col-2">
                                    <app-mod-display 
                                        [control]="'strForm.strTempAdj'"
                                        [score]="abilitiesForm.get('strForm')?.get('strTempAdj')?.value"
                                        [mod]="abilities.strTempMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row d-flex align-items-center">
                        <div class="col-2">
                            <h2>Dex</h2>
                        </div>
                        <div class="col-10" formGroupName="dexForm">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Score</mat-label>
                                        <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="dex" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                </div>  
                                <div class="col-2"> 
                                    <app-mod-display 
                                        [control]="'dexForm.dex'"
                                        [score]="abilitiesForm.get('dexForm')?.get('dex')?.value"
                                        [mod]="abilities.dexMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>
                                </div> 
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Temp</mat-label>
                                        <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="dexTempAdj" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                </div>  
                                <div class="col-2">
                                    <app-mod-display 
                                        [control]="'dexForm.dexTempAdj'"
                                        [score]="abilitiesForm.get('dexForm')?.get('dexTempAdj')?.value"
                                        [mod]="abilities.dexTempMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row d-flex align-items-center">
                        <div class="col-2">
                            <h2>Con</h2>
                        </div>
                        <div class="col-10" formGroupName="conForm">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Score</mat-label>
                                        <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="con" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                </div>  
                                <div class="col-2"> 
                                    <app-mod-display 
                                        [control]="'conForm.con'"
                                        [score]="abilitiesForm.get('conForm')?.get('con')?.value"
                                        [mod]="abilities.conMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>  
                                </div> 
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Temp</mat-label>
                                        <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="conTempAdj" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                </div>  
                                <div class="col-2">
                                    <app-mod-display 
                                        [control]="'conForm.conTempAdj'"
                                        [score]="abilitiesForm.get('conForm')?.get('conTempAdj')?.value"
                                        [mod]="abilities.conTempMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="row d-flex align-items-center">
                        <div class="col-2">
                            <h2>Int</h2>
                        </div>
                        <div class="col-10" formGroupName="intForm">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Score</mat-label>
                                        <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="int" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                </div>  
                                <div class="col-2"> 
                                    <app-mod-display 
                                        [control]="'intForm.int'"
                                        [score]="abilitiesForm.get('intForm')?.get('int')?.value"
                                        [mod]="abilities.intMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>
                                </div> 
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Temp</mat-label>
                                        <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="intTempAdj" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                </div>  
                                <div class="col-2">
                                    <app-mod-display 
                                        [control]="'intForm.intTempAdj'"
                                        [score]="abilitiesForm.get('intForm')?.get('intTempAdj')?.value"
                                        [mod]="abilities.intTempMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row d-flex align-items-center">
                        <div class="col-2">
                            <h2>Wis</h2>
                        </div>
                        <div class="col-10" formGroupName="wisForm">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Score</mat-label>
                                        <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="wis" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                </div>  
                                <div class="col-2"> 
                                    <app-mod-display 
                                        [control]="'wisForm.wis'"
                                        [score]="abilitiesForm.get('wisForm')?.get('wis')?.value"
                                        [mod]="abilities.wisMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>
                                </div> 
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Temp</mat-label>
                                        <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="wisTempAdj" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                </div>  
                                <div class="col-2">
                                    <app-mod-display 
                                        [control]="'wisForm.wisTempAdj'"
                                        [score]="abilitiesForm.get('wisForm')?.get('wisTempAdj')?.value"
                                        [mod]="abilities.wisTempMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row d-flex align-items-center">
                        <div class="col-2">
                            <h2>Cha</h2>
                        </div>
                        <div class="col-10" formGroupName="chaForm">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Score</mat-label>
                                        <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="cha" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                </div>  
                                <div class="col-2"> 
                                    <app-mod-display 
                                        [control]="'chaForm.cha'"
                                        [score]="abilitiesForm.get('chaForm')?.get('cha')?.value"
                                        [mod]="abilities.chaMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>
                                </div> 
                                <div class="col-4">
                                    <mat-form-field class="float-start" appearance="outline" color="accent" style="width: 80%; text-align: center;">
                                        <mat-label>Temp</mat-label>
                                        <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="chaTempAdj" (focus)="fixTheOutlines()">
                                    </mat-form-field>
                                </div>  
                                <div class="col-2">
                                    <app-mod-display 
                                        [control]="'chaForm.chaTempAdj'"
                                        [score]="abilitiesForm.get('chaForm')?.get('chaTempAdj')?.value"
                                        [mod]="abilities.chaTempMod"
                                        [form]="abilitiesForm">
                                    </app-mod-display>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    </form>
    <br>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="savingThrowsForm" autocomplete="off">
        <mat-card class="mat-elevation-z2">
            <mat-card-title class="primary-background mat-elevation-z1" style="margin-top: -16px; margin-left: -16px; margin-right: -16px;">
                <div class="container" style="padding-top: 12px; padding-bottom: 12px;">
                    Saving Throws
                </div>
            </mat-card-title>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="row d-flex align-items-center" formGroupName="forForm">
                    <div class="col-lg-2 col-sm-3 col-5">
                        <h2>Fortitude (Con)</h2>
                    </div>
                    <div class="col-lg-1 col-sm-9 col-7 d-flex align-items-center">
                        <span *ngIf="savingThrowsForm.get('forForm')?.valid" class="badge badge-pill save-total">
                            <span *ngIf="(savingThrows.for.forTotal || 0) >= 0">+</span>{{savingThrows.for.forTotal || 0}}
                        </span> 
                        <span *ngIf="!savingThrowsForm.get('forForm')?.valid" class="badge badge-pill save-total-error">
                            x
                        </span>
                    </div>
                    <div class="row col-lg-9 col-12">
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Base+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="forBase" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Ability+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="forAbility" value="{{savingThrows.for.forAbility}}">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Magic+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="forMagic" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Misc+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="forMisc" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Temp+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="forTemp" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Other+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="forOther" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-center" formGroupName="refForm"> 
                    <div class="col-lg-2 col-sm-3 col-5">
                        <h2>Reflex (Dex)</h2>
                    </div>
                    <div class="col-lg-1 col-sm-9 col-7 d-flex align-items-center">
                        <span *ngIf="savingThrowsForm.get('refForm')?.valid" class="badge badge-pill save-total">
                            <span *ngIf="(savingThrows.ref.refTotal || 0) >= 0">+</span>{{savingThrows.ref.refTotal || 0}}
                        </span> 
                        <span *ngIf="!savingThrowsForm.get('refForm')?.valid" class="badge badge-pill save-total-error">
                            x
                        </span>
                    </div>
                    <div class="row col-lg-9 col-12">
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Base+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="refBase" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Ability+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="refAbility" value="{{savingThrows.ref.refAbility}}">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Magic+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="refMagic" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Misc+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="refMisc" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Temp+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="refTemp" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Other+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="refOther" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-center" formGroupName="willForm">
                    <div class="col-lg-2 col-sm-3 col-5">
                        <h2>Will (Wis)</h2>
                    </div>
                    <div class="col-lg-1 col-sm-9 col-7 d-flex align-items-center">
                        <span *ngIf="savingThrowsForm.get('willForm')?.valid" class="badge badge-pill save-total">
                            <span *ngIf="(savingThrows.will.willTotal || 0) >= 0">+</span>{{savingThrows.will.willTotal || 0}}
                        </span> 
                        <span *ngIf="!savingThrowsForm.get('willForm')?.valid" class="badge badge-pill save-total-error">
                            x
                        </span>
                    </div>
                    <div class="row col-lg-9 col-12">
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Base+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="willBase" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Ability+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="willAbility" value="{{savingThrows.will.willAbility}}">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Magic+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="willMagic" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Misc+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="willMisc" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Temp+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="willTemp" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4">
                            <mat-form-field appearance="outline" color="accent" style="width: 100%; text-align: center;">
                                <mat-label>Other+</mat-label>
                                <input matInput inputmode="numeric" type="text" pattern="-?[0-9]*" formControlName="willOther" (focus)="fixTheOutlines()">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    </form>
</div>

