<div class="container-fluid">
    <form [formGroup]="specialAbilityForm">
        <div class="row">
            <div class="col-12">
                <mat-form-field color="accent" class="input-header w-100">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
                <div class="mb-3" *ngIf="this.specialAbilityForm.controls.name.errors?.['nameExists']">
                    <mat-error>This character already has this ability/trait.</mat-error>
                </div>
            </div>
        </div>
        <mat-dialog-content>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill" color="accent" class="w-100">
                        <mat-label>Benefit(s)</mat-label>
                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10" spellcheck="false" class="fs-5"
                            formControlName="benefit"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-dialog-content>
        <div mat-dialog-actions class="row">
            <div class="col-auto ms-auto">
                <button *ngIf="!data.isNew" mat-button (click)="delete()" color="warn">Delete</button>
                <button mat-button mat-dialog-close>Cancel</button>
                <button *ngIf="data.isNew" mat-raised-button (click)="save()" color="primary">Save</button>
                <button *ngIf="!data.isNew" mat-raised-button (click)="save()" color="primary">Done</button>
            </div>
        </div>
    </form>
</div>