@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($my-theme){   
    $color-config: mat.get-color-config($my-theme);
    $primary-palette: map.get($color-config, 'primary');
    .equipped-background{
        border-style: solid;
        border-color: mat.get-color-from-palette($primary-palette, 500);
    }
}