<ng-container *ngIf="character$ | async as char">
    <form [formGroup]="carryingCapacityForm" autocomplete="off">
        <mat-card class="mat-elevation-z2">
            <mat-card-title class="primary-background mat-elevation-z1"
                style="margin-top: -16px; margin-left: -16px; margin-right: -16px">
                <div class="container" style="padding-top: 12px; padding-bottom: 12px">
                    Weight Capacity
                </div>
            </mat-card-title>
            <br>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="w-100 text-center" appearance="outline" color="accent">
                        <mat-label>Light Load</mat-label>
                        <input matInput type="text" formControlName="lightLoad" (focus)="fixTheOutlines()">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="w-100 text-center" appearance="outline" color="accent">
                        <mat-label>Medium Load</mat-label>
                        <input matInput type="text" formControlName="mediumLoad" (focus)="fixTheOutlines()">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="w-100 text-center" appearance="outline" color="accent">
                        <mat-label>Heavy Load</mat-label>
                        <input matInput type="text" formControlName="heavyLoad" (focus)="fixTheOutlines()">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="w-100 text-center" appearance="outline" color="accent">
                        <mat-label>Lift Over Head</mat-label>
                        <input matInput type="text" formControlName="liftOverHead" (focus)="fixTheOutlines()">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="w-100 text-center" appearance="outline" color="accent">
                        <mat-label>Lift Off Ground</mat-label>
                        <input matInput type="text" formControlName="liftOffGround" (focus)="fixTheOutlines()">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="w-100 text-center" appearance="outline" color="accent">
                        <mat-label>Drag/Push</mat-label>
                        <input matInput type="text" formControlName="dragPush" (focus)="fixTheOutlines()">
                    </mat-form-field>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <h2 class="ms-auto">
                        Current Burden:
                    </h2>
                </div>
                <div class="col-3">
                    <mat-form-field class="w-100 text-center" appearance="outline" color="accent">
                        <input matInput type="text" formControlName="currentBurden" (focus)="fixTheOutlines()">
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
    </form>
</ng-container>