<div class="container comp-top-margin">
    <div class="row g-4">
        <div class="col-7 g-4" style="margin-bottom: 20px;">
            <div class="row g-4">
                <div class="col-12">
                    <app-weight-capacity></app-weight-capacity>
                </div>
                <div class="col-12">
                    <app-ac-items></app-ac-items>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row g-4">
                <div class="col-12">
                    <app-money></app-money>
                </div>
                <div class="col-12">
                    <app-gear></app-gear>
                </div>
            </div>
        </div>
    </div>
</div>