<div class="container-xl comp-top-margin">
    <div class="row g-4">
        <div class="col-7 d-none d-md-block g-4 mb-3">
            <div class="row g-4">
                <div class="col-12">
                    <app-weight-capacity></app-weight-capacity>
                </div>
                <div class="col-12">
                    <app-ac-items></app-ac-items>
                </div>
            </div>
        </div>
        <div class="col-5 d-none d-md-block g-4">
            <div class="row g-4">
                <div class="col-12">
                    <app-money></app-money>
                </div>
                <div class="col-12">
                    <app-gear></app-gear>
                </div>
            </div>
        </div>
        <div class="col-12 d-md-none">
            <app-weight-capacity></app-weight-capacity>
        </div>
        <div class="col-12 d-md-none">
            <app-money></app-money>
        </div>
        <div class="col-12 d-md-none">
            <app-ac-items></app-ac-items>
        </div>
        <div class="col-12 d-md-none">
            <app-gear></app-gear>
        </div>
    </div>
</div>