<div class="container comp-top-margin">
    <form [formGroup] = "generalInfoForm">
        <div class="row">
            <div class="col-7 col-lg-4">
                <h2>General Info</h2>
                    <p>
                        <mat-form-field appearance="outline" color="accent" style="width: 90%;">
                            <mat-label>Character Name</mat-label>
                            <input matInput formControlName="characterName">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" color="accent" style="width: 90%;">
                            <mat-label>Player Name</mat-label>
                            <input matInput formControlName="playerName">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" color="accent" style="width: 90%;">
                            <mat-label>Alignment</mat-label>
                            <input matInput formControlName="alignment">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" color="accent" style="width: 90%;">
                            <mat-label>Character Class & Level</mat-label>
                            <input matInput formControlName="classLevel">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" color="accent" style="width: 90%;">
                            <mat-label>Deity</mat-label>
                            <input matInput formControlName="deity">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" color="accent" style="width: 90%;">
                            <mat-label>Homeland</mat-label>
                            <input matInput formControlName="homeland">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" color="accent" style="width: 90%;">
                            <mat-label>Race</mat-label>
                            <input matInput formControlName="race">
                        </mat-form-field>
                    </p>
            </div>
            <div class="col-5 col-lg-2">
                <h2>Appearance</h2>
                <p>
                    <mat-form-field appearance="outline" color="accent" style="width: 75%;">
                        <mat-label>Size</mat-label>
                        <input matInput formControlName="size">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent" style="width: 75%;">
                        <mat-label>Gender</mat-label>
                        <input matInput formControlName="gender">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent" style="width: 75%;">
                        <mat-label>Age</mat-label>
                        <input matInput formControlName="age">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent" style="width: 75%;">
                        <mat-label>Height</mat-label>
                        <input matInput formControlName="height">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent" style="width: 75%;">
                        <mat-label>Weight</mat-label>
                        <input matInput formControlName="weight">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent" style="width: 75%;">
                        <mat-label>Hair</mat-label>
                        <input matInput formControlName="hair">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent" style="width: 75%;">
                        <mat-label>Eyes</mat-label>
                        <input matInput formControlName="eyes">
                    </mat-form-field>
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <h2>Notes</h2>
                <mat-form-field appearance="fill" color="accent" style="width: 100%;">
                    <textarea matInput style="height: 627px;" formControlName="notes"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>

