<ng-container *ngIf="character$ | async as char">
    <mat-card class="mat-elevation-z2">
        <mat-card-title class="primary-background rounded-top mat-elevation-z1"
            style="margin-top: -16px; margin-left: -16px; margin-right: -16px">
            <div class="container-fluid" style="padding-top: 12px; padding-bottom: 12px">
                <div class="row">
                    <div class="col-xs-12 col-sm-auto me-auto">
                        Feats
                    </div>
                    <div class="col-auto ms-sm-auto me-xs-auto">
                        <div class="row">
                            <div class="col d-none d-sm-block d-lg-none d-xl-block">
                                <button mat-stroked-button (click)="accordion.openAll()">
                                    Expand All
                                    <mat-icon>unfold_more_double</mat-icon>
                                </button>
                            </div>
                            <div class="col d-block d-sm-none d-lg-block d-xl-none">
                                <button mat-stroked-button (click)="accordion.openAll()">
                                    <mat-icon>unfold_more_double</mat-icon>
                                </button>
                            </div>
                            <div class="col d-none d-sm-block d-lg-none d-xl-block">
                                <button mat-stroked-button (click)="accordion.closeAll()">
                                    Collapse All
                                    <mat-icon>unfold_less_double</mat-icon>
                                </button>
                            </div>
                            <div class="col d-block d-sm-none d-lg-block d-xl-none">
                                <button mat-stroked-button (click)="accordion.closeAll()">
                                    <mat-icon>unfold_less_double</mat-icon>
                                </button>
                            </div>
                            <div class="col d-none d-sm-block d-lg-none d-xl-block">
                                <button mat-stroked-button matTooltip="Add a new feat"
                                    (click)="addOrViewFeat(null, true)">
                                    Add
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <div class="col d-block d-sm-none d-lg-block d-xl-none">
                                <button mat-stroked-button matTooltip="Add a new feat"
                                    (click)="addOrViewFeat(null, true)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-title>
        <div *ngIf="featList.length === 0" class="row text-center">
            <div class="col-12 pt-3 rounded grey-bg">
                <h2>No Feats</h2>
            </div>
        </div>
        <mat-accordion multi cdkDropList [cdkDropListData]="featList" (cdkDropListDropped)="drop($event)">
            <mat-expansion-panel class="mb-2 mat-elevation-z4" cdkDrag [cdkDragStartDelay]="isMobileScreen ? 500 : 0"
                *ngFor="let feat of featList" (opened)="setOpen(feat.name)" (closed)="setClosed(feat.name)"
                [expanded]="drawerStatus[feat.name]">
                <mat-expansion-panel-header class="h-25 d-flex align-items-center ps-1 ps-sm-3">
                    <mat-panel-title>
                        <div class="row align-items-center w-100 pb-2 pt-2">
                            <div class="col-2 col-sm-auto pe-0">
                                <button mat-icon-button (click)="addOrViewFeat(feat); $event.stopPropagation()">
                                    <mat-icon color="accent">edit_note</mat-icon>
                                </button>
                            </div>
                            <div class="col-8 col-sm-auto">
                                {{ feat.name }}
                            </div>
                            <div class="col-10 offset-2 offset-sm-0 col-sm-auto">
                                <span class="badge rounded-pill primary-background fw-normal">
                                    {{ feat.type }}
                                </span>
                            </div>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <br>
                <div class="row">
                    <div class="col-12" *ngIf="feat.prerequisites">
                        <mat-label class="small ms-1 italic accent-text">Prerequisites:</mat-label>
                        {{feat.prerequisites}}
                    </div>
                    <div class="col-12 p-3">
                        {{feat.benefit}}
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</ng-container>